:root{
    --background-one: #FFD700;
    --darker-background-one: #e6c300;
    --background-two: #00008B;
    --background-three: #F5F5F5;
    --borders-and-texts-one: #fff;
    --borders-and-texts-two: #000;
    --borders-and-texts-three: #ff0000;
}

*{
    color: var(--borders-and-texts-one);
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-two);
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a,
button,
#form-info{
    font-weight: 500;
}


header{
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 4px solid var(--borders-and-texts-one);
}

header,
footer{
    background-color: var(--background-one);
    padding-top: 8px;
}

header > .container,
footer{
    padding-bottom: 8px;
}

#text-logo-website,
h2,
h3{
    font-weight: 600;
}

#text-logo-website{
    color: var(--borders-and-texts-two);
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.6em;
    margin-left: 18px;
}

ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 12px;
}

ul li a{
    display: flex;
    color: var(--borders-and-texts-two);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover{
    text-decoration: underline;
}

.section-menu-desktop{
    margin-right: 16px;
}

#hamburger-menu{
    display: none;
    width: 32px;
    margin-right: 0.5em;
    cursor: pointer;
}

#hamburger-menu span{
    display: block;
    background-color: var(--borders-and-texts-two);
    height: 2px;
    width: 100%;
    margin-top: 4px;
}

nav{
    display: none;
    background-color: var(--background-three);
    padding-top: 8px;
    padding-bottom: 4px;
}

.section-menu-mobile li a{
    font-size: 0.9em;
}

section{
    padding: 24px 0;
}

h2,
h3{
    margin: 8px 0;
}

h2{
    padding-bottom: 8px;
    margin-top: 0;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--borders-and-texts-one);
}

h3{
    font-size: 1.25em;
}

#about .container{
    display: grid;
    grid-template-columns: 40% 58%;
    column-gap: 2%;
}

#about img,
article img{
    border-radius: 6px;
}

#about img{
    height: 400px;
    width: 400px;
}

.product-section{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.product img{
    height: 248.25px;
    width: 100%;
}

.pack-info p{
    margin-bottom: 6px;
}

.price{
    display: flex;
    margin-top: 8px;
}

.price strike,
.price p{
    font-size: 18px;
    margin-right: 8px;
}

.price strike{
    color: var(--borders-and-texts-three);
}

.price p{
    font-weight: 600;
}

button{
    background-color: var(--background-one);
    border: 1px solid var(--borders-and-texts-two);
    border-radius: 4px;
    cursor: pointer;
}

label,
button{
    color: var(--borders-and-texts-two);
}

button:hover{
    background-color: var(--darker-background-one);
}

article button{
    margin-top: 8px;
}

#form-info{
    font-size: 1em;
}

form{
    display: block;
    background-color: var(--background-three);
    width: 400px;
    padding: 16px;
    margin-top: 8px;
    border-radius: 6px;
}

form .form-fields{
    margin-bottom: 8px;
}

.form-fields input,
.form-fields textarea,
article button,
form button{
    color: var(--borders-and-texts-two);
    font-size: 1em;
    width: 100%;
    padding: 6px;
}

.form-fields textarea{
    height: 120px;
    resize: none;
}

footer p{
    color: var(--borders-and-texts-two);
}

#copyright-message-desktop{
    display: block;
}

#copyright-message-mobile{
    display: none;
}

footer img{
    height: 36px;
}

@media screen and (max-width: 640px) {
    .container{
        max-width: 90%;
        margin: 0 auto;
    }

    header,
    footer{
        background-color: var(--background-one);
        padding-top: 4px;
    }

    header > .container,
    footer{
        padding-bottom: 4px;
    }

    #text-logo-website{
        display: none;
    }

    .section-menu-desktop{
        display: none;
    }

    #hamburger-menu{
        display: block;
    }

    section{
        padding: 18px 0;
    }

    #about img,
    .product-section img{
        height: 100%;
        width: 100%;
    }

    #about .container,
    .product-section{
        display: block;
    }

    h2{
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .product{
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid var(--borders-and-texts-one);
    }

    #tokyo{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

    form{
        width: 100%;
    }
    
    .form-fields input,
    .form-fields textarea,
    form button,
    footer p{
        font-size: 0.9em;
        width: 100%;
        padding: 4px;
    }

    footer .container-flex{
        display: block;
        text-align: center;
    }

    #copyright-message-desktop{
        display: none;
    }

    #copyright-message-mobile{
        display: block;
    }

    .social-medias{
        justify-content: center;
        margin-top: 6px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container{
        width: 85%;
        margin: 0 auto;
    }

    .section-menu-desktop{
        display: none;
    }

    #hamburger-menu{
        display: block;
    }

    .section-menu-mobile li a{
        font-size: 1em;
    }

    #about .container{
        display: block;
    }

    #about img,
    .product-section img{
        height: auto;
        width: 100%;
        margin-bottom: 8px;
        border-radius: 8px;
    }

    #store{
        height: 1250px;
    }

    .product-section{
        display: grid;
        grid-template-columns: repeat(2, 49.5%);
        column-gap: 1%;
        row-gap: 3%;
        height: 100%;
    }

    #copyright-message-desktop{
        display: none;
    }

    #copyright-message-mobile{
        display: block;
    }
}