*{
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    position: sticky;
    top: 0;
    left: 0;
}

header,
footer{
    background-color: #f5f5f5;
    padding: 8px 0;
}

header > .container,
footer{
    padding-bottom: 0;
}

h1{
    font-weight: 600;
    font-size: 2em;
    margin-left: 16px;
}

ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 12px;
}

ul li a{
    display: inline;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover{
    text-decoration: underline;
}

.section-menu-desktop{
    margin-right: 16px;
}

#hamburger-menu{
    display: none;
    width: 32px;
    cursor: pointer;
}

#hamburger-menu span{
    display: block;
    background-color: black;
    height: 2px;
    width: 100%;
    margin: 4px;
}

nav{
    display: none;
    padding: 12px 0;
}

section{
    padding: 24px 0;
}

h2,
h3{
    font-weight: 600;
    margin: 8px 0;
}

h2{
    padding-bottom: 8px;
    margin-top: 0;
    margin-bottom: 8px;
    border-bottom: 2px solid black;
}

#about .container{
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;
}

.product-section{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.product img{
    width: 100%;
}

.pack-info p{
    margin-bottom: 6px;
}

.price{
    display: flex;
    margin-top: 8px;
}

.price strike,
.price p{
    font-weight: 400;
    margin-right: 8px;
}

.price strike{
    color: red;
}

button{
    font-weight: 500;
}

article button{
    margin-top: 8px;
}

#form-info{
    font-weight: 500;
    font-size: 1em;
    margin-top: 16px;
}

form{
    display: block;
    background-color: #f5f5f5;
    width: 392px;
    padding: 16px;
    margin-top: 8px;
    border-radius: 6px;
}

form .form-fields{
    margin-bottom: 8px;
}

.form-fields input,
.form-fields textarea,
article button,
form button{
    font-size: 1em;
    width: 100%;
    padding: 4px;
}

.form-fields textarea{
    height: 120px;
    resize: none;
}
